<!DOCTYPE HTML>
<html>

<head>
	<title>Home</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'dist/amazeui.min.css' %}">
	<link rel="stylesheet" href="{% static 'demo.css' %}">
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Bootstrap Core CSS -->
	<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'>
	<!-- Custom CSS -->
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'>
	<!-- font CSS -->
	<!-- font-awesome icons -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!--skycons-icons-->
	<script src="{% static 'js/skycons.js' %}"></script>
	<!--//skycons-icons-->

	<!-- js-->
	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/modernizr.custom.js' %}"></script>
	<!-- Metis Menu -->
	<script src="{% static 'js/metisMenu.min.js' %}"></script>
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
	<!--//Metis Menu -->
	<link href="{% static 'css/jquerysctipttop.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'js/Chart.js' %}"></script>
	<script src="{% static 'js/watch.js' %}"></script>
	<script async language="JavaScript">

		var time = new Date();
		var h = time.getHours();
		var m = time.getMinutes();
		var s = time.getSeconds();
		var T = h + ":" + m + ":" + s;

		window.data = [0, 0, 0, 0, 0, 0];
		window.interval = 3000;
		window.flag = 0;
		window.total = 0;
		window.rf = 0;
		window.blocked = 0;
		window.reset = 0;
		window.rkf_dtl = []
		window.times = [T, T, T, T, T, T];
		window.app_num = [0, 0, 0, 0, 0, 0];
		window.app_num2 = [0, 0, 0, 0, 0];
		window.qq = [0, 0, 0, 0, 0, 0];
		window.wc = [0, 0, 0, 0, 0, 0];
		window.iqy = [0, 0, 0, 0, 0, 0];
		window.tdr = [0, 0, 0, 0, 0, 0];
		window.we = [0, 0, 0, 0, 0, 0];
	</script>
	<script src="{% static 'js/sidebar.js' %}"></script>
</head>

<body class="cbp-spmenu-push cbp-spmenu-push-toright">
	<div class="main-content">
		<!--left-fixed -navigation-->
		<div class="sidebar" role="navigation">
			<div class="navbar-collapse">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right dev-page-sidebar mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar cbp-spmenu-open"
					id="cbp-spmenu-s1">
					<div class="scrollbar scrollbar1" tabindex="5000" style="overflow: hidden; outline: none;">
						<ul class="nav in" id="side-menu">
							<li>
								<a href="{% url 'html' %}" class="active"><i class="fa fa-home nav_icon"></i>
									<figure class="icons">Home
										<canvas id="clear-day" width="15" height="15"></canvas>
									</figure>
								</a>
							</li>
							<li>
								<a href="{% url 'setting' %}"><i class="fa fa-cogs nav_icon"></i>Setting</a>
							</li>
							<li>
								<a class="Operation" onclick="start()"><i
										class="fa fa-check-square-o nav_icon"></i>Start</a>
							</li>
							<li>
								<a class="Operation" onclick="stop()"><i class="fa fa-bar-chart nav_icon"></i>Stop</a>
							</li>

						</ul>
					</div>
					<!-- //sidebar-collapse -->
					<div id="ascrail2001" class="nicescroll-rails"
						style="width: 6px; z-index: auto; background: rgb(255, 255, 255); cursor: default; position: absolute; top: 32px; left: 194px; height: 600px; display: none;">
						<div
							style="position: relative; top: 0px; float: right; width: 6px; height: 0px; background-color: rgb(255, 149, 84); border: 0px; background-clip: padding-box; border-radius: 0px;">
						</div>
					</div>
					<div id="ascrail2001-hr" class="nicescroll-rails"
						style="height: 6px; z-index: auto; background: rgb(255, 255, 255); top: 626px; left: 0px; position: absolute; cursor: default; display: none;">
						<div
							style="position: relative; top: 0px; height: 6px; width: 0px; background-color: rgb(255, 149, 84); border: 0px; background-clip: padding-box; border-radius: 0px;">
						</div>
					</div>
					<div id="ascrail2002" class="nicescroll-rails"
						style="width: 6px; z-index: auto; background: rgb(255, 255, 255); cursor: default; position: absolute; top: 32px; left: 194px; height: 600px; display: none;">
						<div
							style="position: relative; top: 0px; float: right; width: 6px; height: 0px; background-color: rgb(255, 149, 84); border: 0px; background-clip: padding-box; border-radius: 0px;">
						</div>
					</div>
					<div id="ascrail2002-hr" class="nicescroll-rails"
						style="height: 6px; z-index: auto; background: rgb(255, 255, 255); top: 626px; left: 0px; position: absolute; cursor: default; display: none;">
						<div
							style="position: relative; top: 0px; height: 6px; width: 0px; background-color: rgb(255, 149, 84); border: 0px; background-clip: padding-box; border-radius: 0px;">
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!--left-fixed -navigation-->

		<!-- header-starts -->
		<div class="sticky-header header-section ">
			<div class="header-left">
				<!--logo -->
				<div class="logo">
					<a href="index.html">
						<h1>Netflow Monitor</h1>
					</a>
				</div>
				<!--//logo-->
			</div>

			<div class="header-right">
				<!--toggle button start-->
				<button id="showLeftPush" class="active"><i class="fa fa-bars"></i></button>
				<div class="clearfix"> </div>
				<!--toggle button end-->
			</div>
		</div>
		<!-- //header-ends -->

		{% block content %}
		<div id="page-wrapper" style="min-height: 703px;">
			<div class="main-page">
				<div class="four-grids">
					<div class="col-md-3 four-grid">
						<div class="four-grid1">
							<div class="icon">
								<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Total</h3>
								<h4 id="total">0</h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-grid2">
							<div class="icon">
								<i class="glyphicon glyphicon-align-justify " aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Riskflow</h3>
								<h4 id="rf">0</h4><!-- 这里传变量-->
							</div>
						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-grid3">
							<div class="icon">
								<i class="glyphicon glyphicon-bell" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Blocked</h3>
								<h4 id="block">9</h4><!-- 这里传变量-->
								<!--<script>
									var element4 = document.getElementById("block");
									counter(element4,block);
								</script>-->
							</div>
						</div>
					</div>
					<div class="col-md-3 four-grid">
						<div class="four-grid4">
							<div class="icon">
								<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
							</div>
							<div class="four-text">
								<h3>Reseted</h3>
								<h4 id="rst">0</h4><!-- 这里传变量-->
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="chat-grids">
					<div class="col-md-6 chat-grid">
						<div class="grid-1">
							<figure class="icons"><strong><b>Protocol</b></strong>
								<canvas id="sleet" width="20" height="20"></canvas>
							</figure>
							<canvas id="bar1" height="390" width="1093" style="width: 875px; height: 312px;"></canvas>

							<script async language="JavaScript">
								show();
							</script>
						</div>
					</div>
					<div class="am-g">

						<div class="am-u-md-6">
							<div class="am-panel am-panel-default">
								<div class="am-panel-hd">
									<figure class="icons"><strong><b>application</b></strong>
										<canvas id="snow" width="20" height="20"></canvas>
									</figure>
								</div>
								<div id="type" class="am-panel-collapse am-collapse am-in">
									<div class="am-panel-bd">
										<div id="type-main-content" render="true"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="am-content">
				<div data-module="firstlevel" class="am-animation-slide-left">
					<div class="am-g">
						<div class="am-u-md-12">
							<div class="am-panel am-panel-default">
								<div class="am-panel-hd">
									<figure class="icons"><strong><b>app_statics</b></strong>
										<canvas id="wind" width="20" height="20"></canvas>
									</figure>
								</div>
								<div id="combo" class="am-panel-collapse am-collapse am-in">
									<div class="am-panel-bd">
										<div id="combo-main-echarts" render="true"></div>
										<hr />
										<div class="am-panel-hd">
											<figure class="icons"><strong><b>RiskFlow_detail</b></strong>
												<canvas id="wind2" width="20" height="20"></canvas>
											</figure>
										</div>
										<!--<div id="combo-main-content" render="true">-->
										<div class="am-panel-hd">

											<head>
												<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
												<style>
													* {
														margin: 0;
														padding: 0;
													}

													table tbody {
														display: block;
														height: 350px;
														overflow-y: scroll;
													}

													table thead,
													tbody tr {
														display: table;
														width: 100%;
														table-layout: fixed;
													}

													/*关键设置：滚动条默认宽度是16px 将thead的宽度减16px*/
													table thead {
														width: calc(100% - 1em)
													}


													table thead th {
														background: #ccc;
													}
												</style>
											</head>

											<body>
												<table id="tab1" width='100%'
													class='am-table am-table-bd am-table-bdrs am-table-striped am-table-hover'>
													<thead>
														<tr>
															<th>PROTO</th>
															<th>SRC_IP</th>
															<th>DST_IP</th>
															<th>SPORT</th>
															<th>DPORT</th>
														</tr>
													</thead>
													<tbody>
														<tr>
														</tr>
													</tbody>
												</table>
											</body>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}

		<div class="copy-section">
			<p>Copyright © 2019.ICS Lab, All rights reserved. Author:高博为 </p>
		</div>
	</div>
	<script src="{% static 'dist/jquery.min.js' %}"></script>
	<script src="{% static 'dist/amazeui.min.js' %}"></script>
	<script src="{% static 'dist/echarts.min.js' %}"></script>
	<script src="{% static 'dist/t3.min.js' %}"></script>
	<script src="{% static 'demo.min.js' %}"></script>
	<script type="text/javascript">
		Box.Application.init();
	</script>
	<!-- Classie -->
	<script src="{% static 'js/classie.js' %}"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'),
			showLeftPush = document.getElementById('showLeftPush'),
			body = document.body;

		showLeftPush.onclick = function () {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};


		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<script>
		var icons = new Skycons({ "color": "#f7aa47" }),
			list = ["clear-day",
				"clear-night", "partly-cloudy-day",
				"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
				"fog"
			],
			i;

		for (i = list.length; i--;)
			icons.set(list[i], list[i]);

		icons.play();
	</script>
	<!-- Bootstrap Core JavaScript -->

	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>