{% extends 'html' %}
{% block content %}
<div id="page-wrapper">
	<div class="main-page">
		<!--buttons-->
		<div class="grids">
			<div class="form-section">
				<h2>Filter word settings</h2>
				<div class="col-md-6 form-grid">
					<div class="form-inline">
						<h4><span>blacklist setting </span>Form</h4>
						<div class="inline">
							<input type="Email" placeholder="Enter a word:" disabled="disabled">
							<input type="password" class="pass" placeholder="">
							<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i>
								submit</button>
							<button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i>
								Reset</button>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-widget">
				<div class="bs-docs-example">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Black Word</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<!--{% for bill in outs %}
											<tr>
													<td>{{forloop.counter}}</td>
													<td>{{bill.word}}</td>
													<td>{{bill.date}}</td>
											</tr>
											{% endfor %}                             这几句是Django的循环，到时候把所有黑名单词全打印出来或者挑前多少个打印-->
							<tr>
								<td>1</td>
								<td>Mark</td>
								<td>@mdo</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Jacob</td>
								<td>@fat</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Larry</td>
								<td>@twitter</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}